/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: rgb(30, 30, 30);
    --secondary-color: orangered;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Se agrega box-sizing para incluir el padding y border en el ancho y alto */
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: url(https://raw.githubusercontent.com/Liuxss/lxmodding.github.io/main/src/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

header {
    background: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 5px solid var(--secondary-color);
}

header a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    transition: color 0.5s;
}

header .title-img img {
    width: 100px;
}

.title-img {
    display: flex;
    align-items: center;
}

main .mc-versions {
    display: flex;
    justify-content: space-between;
}

.version-item {
    margin: 2% 1%; /* Se ajusta el margen para pantallas pequeñas */
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    animation: border-animation 2s infinite;
    text-align: center;
}

.version-item div {
    display: flex;
    justify-content: center;
}

.version-item img {
    width: 30%;
    max-width: 100%; /* Asegura que la imagen no se desborde del contenedor */
}

main .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Se agrega flex-wrap para que los elementos se envuelvan en pantallas pequeñas */
}

main .items .item {
    flex: 0 0 48%; /* Ajusta el ancho de los elementos para pantallas pequeñas */
    margin: 3%;
    background: var(--primary-color);
    color: white;
    padding: 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 15px;
    animation: border-animation 2s infinite;
}

main .items .item h1 {
    text-align: center;
    font-size: 150%;
}

main .items .item img {
    width: 100%;
}

main .items .item p {
    text-align: left;
    font-size: 85%;
    word-break: break-all;
    margin: 10px 0; /* Ajusta el margen */
}

.buttons {
    text-align: center;
}

.buttons button {
    border: 15px solid orangered;
    border-radius: 10px;
    background: orangered;
    color: white;
    padding: 10px 20px; /* Ajusta el relleno */
}

footer {
    color: white;
    background: var(--primary-color);
    justify-content: space-between;
    border-top: 5px solid var(--secondary-color);
}

footer .info {
    text-align: center;
}

footer .info p {
    padding: 10px 0;
}

header a:hover {
    animation: color-animation 2s infinite;
}

.buttons button {
    cursor: pointer;
}

@keyframes color-animation {
    0% { color: white; } /* primer color */
    50% { color: orangered; } /* tercer color */
    100% { color: white; } /* primer color de nuevo */
}

@keyframes border-animation {
    0% { border-color: white; } /* primer color */
    50% { border-color: orangered; } /* tercer color */
    100% { border-color: white; } /* primer color de nuevo */
}

@media only screen and (max-width: 600px) {
    header {
        display: block;
        text-align: center;
    }

    header a {
        font-size: 24px; /* Se ajusta el tamaño del texto para pantallas pequeñas */
        padding: 15px; /* Se ajusta el relleno */
    }

    header .title-img {
        padding: 20px 0;
        text-align: center;
        justify-content: center;
    }

    header .title-img nav {
        align-items: center;
    }

    header .title-img nav a {
        font-size: 14px; /* Se ajusta el tamaño del texto para pantallas pequeñas */
    }

    main .mc-versions,
    main .items {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0% 2%;
    }

    .version-item,
    .items .item {
        flex: 0 0 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin: 3%;
    }

    .version-item p,
    .items .item p {
        margin: 3% 0; /* Ajusta el margen */
    }
}
